.categories {
    margin: 8px -8px;
}

@media only screen and (max-width: 1200px) {
    .categories {
        border: 1px solid #c5c5c5;
        margin-bottom: 8px;
        overflow-x: auto;
        white-space: nowrap;
        border-radius: 4px;
        background: #ececec;
    }
}
